.doc {
  padding: 140px 0;
}

.doc__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doc__title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.doc__descr {
  color: #e2e0dd;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 150px;
  max-width: 648px;
}

.doc__btn-wrapper {
  display: flex;
  gap: 20px;
}

.doc__builds {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 18px;
  background: rgb(255, 174, 51);
  border-radius: 10px;
  color: #202124;
}

.doc__document {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 18px;
  background: rgb(255, 176, 174);
  border-radius: 10px;
  color: #202124;
}

.doc__img {
  max-width: 590px;
}
@media (max-width: 1024px) {
  .doc__img {
    max-width: 490px;
  }
}
@media (max-width: 756px) {
  .doc {
    padding: 50px 0;
  }
  .doc__img {
    max-width: 350px;
  }
  .doc__descr {
    font-size: 20px;
    margin-bottom: 50px;
  }
}
@media (max-width: 660px) {
  .doc__container {
    flex-direction: column;
    gap: 20px;
  }
  .doc__left {
    text-align: center;
  }
  .doc__btn-wrapper {
    justify-content: center;
  }
  .doc__img {
    max-width: 450px;
  }
}
@media (max-width: 420px) {
  .doc__title {
    font-size: 28px;
  }
  .doc__descr {
    font-size: 17px;
  }
  .doc__img {
    max-width: 340px;
  }
}
