.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
}

.hero__right {
  max-width: 560px;
}

.hero-bg {
  max-width: 630px;
}

.hero__title {
  font-size: 80px;
  color: #fff;
  margin-bottom: 40px;
}
.hero__descr {
  color: #e2e0dd;
  font-size: 23px;
  max-width: 460px;
  margin-bottom: 50px;
}
.hero__btn-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero__try {
  border-radius: 16px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 174, 51);
  color: #202124;
  font-weight: 700;
  padding: 11px 46px;
}

.hero__open {
  color: #e2e0dd;
  font-size: 16px;
  font-weight: 400;
  max-width: 200px;
}

.hero__svg-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .hero__title {
    line-height: 78px;
  }
  .hero-bg {
    max-width: 550px;
  }
}

@media (max-width: 756px) {
  .hero__title {
    font-size: 62px;
    line-height: 62px;
    margin-bottom: 26px;
  }
  .hero-bg {
    max-width: 375px;
  }
  .hero__descr {
    margin-bottom: 25px;
  }
  .hero__try {
    padding: 11px 26px;
  }
}

@media (max-width: 660px) {
  .hero {
    padding-bottom: 50px;
  }
  .hero__container {
    margin-top: 169px;
  }
  .hero-bg {
    display: none;
  }
}
@media (max-width: 420px) {
  .hero__container {
    margin-top: 130px;
  }
  .hero__try {
    padding: 11px 17px;
  }
}
