.select {
  padding: 150px 0;
}

.select__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.select__text {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
}
.select__cross {
  color: #a5a3a0;
  font-size: 54px;
  font-weight: 400;
  text-decoration-line: line-through;
}
@media (max-width: 756px) {
  .select {
    padding: 70px 0;
  }
  .select__cross {
    font-size: 44px;
  }
  .select__text {
    font-size: 44px;
  }
}
@media (max-width: 512px) {
  .select__text {
    font-size: 34px;
  }
  .select__cross {
    font-size: 34px;
  }
}
@media (max-width: 420px) {
  .select{
    padding: 40px 0;
  }
  .select__text {
    font-size: 23px;
  }
  .select__cross {
    font-size: 23px;
  }
}
